<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Product [Chrome]" >
        <!--configure test to execute testing script using Chrome browser-->
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lecture4.tests.CreateProductTest" > </class>
        </classes>
    </test>

    <!--Prepare test for firefox browser
    <test name="Create New Product [Firefox]" >
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="lecture4.tests.CreateProductTest" > </class>
        </classes>
    </test>-->

    <!--Prepare test for IE browser
    <test name="Create New Product [Internet Explorer]" >
        <parameter name="browser" value="ie"/>
        <classes>
            <class name="lecture4.tests.CreateProductTest" > </class>
        </classes>
    </test>-->

</suite>